.menu a.active {
      /* text-decoration: underline; */
      background-color: #34a85a;
      border-radius: 5px;
      padding: 8px 12px;
      font-weight: bold;
      color:white;

      
      
}
.menu a.active:hover{
      background-color: #1a9641;
      
}

.btn-button {
       border: 1px solid #34a85a;
       background-color: transparent;
       color: white;
}
.btn-bg-button {
      background-color: #34a85a;
       color: white;
}
.btn-bg-button:hover {
      background-color: #1a9641;
}

.primaryColor{
       background-color: #1a9641;
}
.secondaryColor{
       background-color: #1a9641;
}


 
        @keyframes fadeIn {
          from { opacity: 0; }
          to { opacity: 1; }
        }
        @keyframes slideUp {
          from { 
            opacity: 0;
            transform: translateY(20px);
          }
          to { 
            opacity: 1;
            transform: translateY(0);
          }
        }
        .animate-fadeIn {
          animation: fadeIn 0.2s ease-out;
        }
        .animate-slideUp {
          animation: slideUp 0.3s ease-out;
        }
      